.genre-card {
  margin-top: 20px;
  margin-bottom: 30px;
}

.related-movies-card {
  margin-top: 20px;
}

#genre-view-container {
  margin-top: 15px;
}

.related-movies-header-text {
  font-size: larger;
}