.profile-card {
  margin-top: 15px;
}

.profile-title,
.favorite-movies {
  text-align: center;
  justify-content: center;
}

.favorite-movies {
  margin: 5px;
}

.update-account-title {
  text-align: center;
  justify-content: center;
}

.update-profile-card {
  margin-top: 15px;
}

.card-body-favorites {
  background-color: lightgoldenrodyellow;
}