:root {
  --background-color: hsl(224, 27%, 92%);
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  //background-color: yellowgreen; - for testing only, will change later
}

html {
  background-color: var(--background-color);
}

#login-view-container {
  margin-top: 15px;
}

#register-btn {
  margin-left: 10px
}